[submodule "submodules/obs-gtwy"] # v2.1.1
	path = submodules/obs-gtwy
	url = https://github.com/asterismhq/obs-gtwy
[submodule "submodules/stl-conn"] # v1.3.0
	path = submodules/stl-conn
	url = https://github.com/asterismhq/stl-conn
[submodule "submodules/starprobe"] # v2.0.0
	path = submodules/starprobe
	url = https://github.com/asterismhq/starprobe
[submodule "submodules/constellations"]
	path = submodules/constellations
	url = https://github.com/asterismhq/constellations.git
