[submodule "src/submodules/obsidian-vault"]
	path = src/submodules/obsidian-vault
	url = https://github.com/Astra-Teams/constellations.git
	branch = main
[submodule "src/submodules/olm-d-rch"] # v1.6.0
	path = src/submodules/olm-d-rch
	url = https://github.com/Astra-Teams/olm-d-rch
